
flask==3.0.3
deepface
opencv-python
numpy
scipy
Pillow>=11.2.1
gunicorn>=23.0.0
mtcnn>=1.0.0
retina-face>=0.0.17
onnxruntime>=1.17.3
streamlit
deepface
opencv-python
scipy
numpy
Pillow
mtcnn
retina-face
tensorflow
keras>=2.12.0

